[Unit]
Description=DeskPita fan control service
After=multi-user.target

[Service]
Type=simple
ExecStart=sudo /usr/bin/deskpita service fan
Restart=always

[Install]
WantedBy=multi-user.target
