[Unit]
Description=DeskPita fan control service
After=multi-user.target

[Service]
ExecStart=sudo /usr/bin/deskpita

[Install]
WantedBy=multi-user.target
